.stacks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;

}

.stacks-div {
  max-width: 100%;
  height: auto;
  margin-top: 3%;
}

.swiper {
  text-align: center;
  padding: 2rem 0;
  height: 100%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
}

@media (max-width: 400px) {
  .text-tittle {
    font-size: 1.5rem !important;
  }
}