.stacks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
}

.stacks-div {
  max-width: 100%;
  height: 250px;
  margin-top: 3%;
}

.swiper {
  text-align: center;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
}
