.Projects {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text-projects {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.8vw + 0.8vh + 0.5vmin);
  }
  
  .div-grid-projects {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Centralize o texto do slide verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .Projects {
      height: auto;
      padding-bottom: 2rem;
    }
  
    .div-grid-projects {
      padding: 2%;
    }
  }
  