.About-me {
  scroll-margin-top: 7rem;
  display: flex;
  margin: 3rem 0;
  padding: 0 2rem;
  justify-content: center;
  flex-direction: column;
}
.text-about {
  line-height: 2.3rem;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  max-width: 100%;
}

.text-about p {
  font-size: 1.3rem;
  margin: 0;
}
.text-about img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.text-tittle {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  width: 100%;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .text-about {
    max-width: 100%;
  }

  .text-about p {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .text-about {
    max-width: 100%;
  }
}
