@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c; 
}

::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px; 
  border: 2px solid #1c1c1c; 
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #555 #1c1c1c; 
}

.hero-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 1)), url('../../public/6226861.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
