.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9);
  z-index: 190;
}

.header.dark {
  background-color: rgba(31, 32, 35, 0.9);
}

.header.dark .nav-links li a {
  color: #fff;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.nav-links {
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  padding-left: 0;
  gap: 2rem;
}

.nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #007bff;
}

.icons-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons-header a {
  color: #333;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.icons-header a:hover {
  color: #007bff;
}

.react-toggle-track-check {
  top: unset !important;
  bottom: 3px !important;
  left: 2px !important;
}

.react-toggle-track-x {
  top: unset !important;
  bottom: 2px !important;

  right: 15px !important;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 700px) {
  .icons-nav {
    width: 100%;
  }

  .anchor-nav {
    width: 100%;
  }

  .nav-links {
    justify-content: space-around;
  }

  .icons-header {
    justify-content: space-around;
  }

  .btn {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .icons {
    display: flex;
    gap: 1.5rem;
  }

  .container-header {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .nav-links {
    gap: 1.5rem;
  }
}

@media(max-width: 425px) {
  .nav-links {
    font-size: 1.1rem;
  }
}