.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9);
  z-index: 190;
}

.header.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.header.dark .nav-links li a {
  color: #fff;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
.nav-links {
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 2rem;
}
.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  transition: color 0.3s ease;
}
.nav-links li a:hover {
  color: #007bff;
}
.icons-header {
  display: flex;
  gap: 1rem;
}
.icons-header a {
  color: #333;
  transition: color 0.3s ease;
}
.icons-header a:hover {
  color: #007bff;
}

.react-toggle-track-check {
  top: unset !important;
  bottom: 3px !important;
  left: 2px !important;
}

.react-toggle-track-x {
  top: unset !important;
  bottom: 2px !important;

  right: 15px !important;
}
@media (max-width: 560px) {
  .container-header {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .nav-links {
    gap: 1.5rem;
  }
}
