.footer {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

.container-footer {
  color: #888;
  display: flex;
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.dark-name {
  color: #fff;
  font-size: 1.2rem;
}

.name {
  font-size: 1.2rem;

  color: #333;
}

.nav-icons-footer {
  display: flex;
  gap: 2rem;
}

a {
  transition: all ease 0.3s;
}

a:hover {
  color: #0056b3;
}