.experience-section {
  margin: 3rem 0;
  display: flex;
  padding: 0 2rem;

  flex-direction: column;
}
.experience-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-container {
  display: flex;
  gap: 2rem;
  width: 98%;
  margin-top: 3%;
}

.timeline {
  position: relative;
  width: 2px;
  background-color: #333; /* Cor da linha do tempo */
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px; /* Espaçamento entre a linha do tempo e os pontos */
}

.point {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 10px 0;
}
.company-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  .infos {
    display: flex;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.company-info h2 {
  font-size: 1.4rem;
  margin: 0;
}

.company-info h1 {
  font-size: 1.2rem;
  margin: 0;
}

.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activities h3 {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.activities ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.activities p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .experience-card {
    flex-direction: column;
  }
}
.text-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 !important;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
}
