.experience-section {
  padding: 4rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
.experience-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.company-info {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: space-between;

  .infos {
    display: flex;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.company-info h2 {
  color: #333;
  font-size: 1.8rem;
  margin: 0;
}
.company-info p {
  color: #777;
  font-size: 1rem;
  margin: 0;
}
.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activities h3 {
  color: #333;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.activities ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.activities p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4rem;
  color: #555;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .experience-card {
    flex-direction: column;
  }
}
.text-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
}
