.contact-me {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .div-contact-me {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
  
  .ul-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    color: white;
    gap: 0.5rem;
  }
  
  #name {
    width: 400px;
    height: 40px;
    padding: 3%;
    font-size: calc(0.7vw + 0.7vh + 0.5vmin);
  }
  
  #email {
    height: 40px;
    padding: 3%;
    font-size: calc(0.7vw + 0.7vh + 0.5vmin);
  }
  
  #message {
    padding: 3%;
    height: 7rem;
    font-size: calc(0.7vw + 0.7vh + 0.5vmin);
  }
  
  .btn-form {
    font-size: calc(0.7vw + 0.7vh + 0.5vmin);
    height: 2rem;
  }
  
  @media (max-width: 768px) {
    #name {
      width: 100%;
    }
    
    .div-contact-me {
      flex-direction: column;
    }
  }
  