.modal-overlay {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 24px;
  margin: 0;
}

.btn-close {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  display: flex;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.modal-image {
  width: 40%;
  margin-right: 20px;
}

.modal-image img {
  width: 100%;
  border-radius: 10px;
}

.modal-description p {
  font-size: 18px;
}

.modal-links {
  margin-top: 20px;
}

.modal-links a {
  display: block;
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }

  .modal-body {
    flex-direction: column;
  }

  .modal-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
